
/** Ye olde bullet margin. */
li { 
  margin: 7px 7px 7px 22px; }

/** Unneeded at this point? */
body { 
  font-size: 1.3em; color: #000000 }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  background: #f7f7f7;
  padding: 1em;
  margin-bottom: 1.618em; }

code { 
  font-size: .7em; }

/** Top Panel: adjustments to get top panel a bit better proprortioned. */
h1 {
  margin: 10px 0 10px 0; }

#bio-panel {
  margin: 15px 0 0 0; }

hr {
  margin: 30px 0 30px 0; }

#top-container-panel {
  postion: fixed; }

/** Get anchor links in body text more visible. */
p a {
  color: #CC3300 }

/** Special handling for links in top panel. */
.panel p a {
  color: #69788c }

.panel p a:hover {
  color: #CC3300 }
/** End special handling. */

/** Change hovers to red. */
a:hover { 
  color: #CC3300 }

.panel {
  padding: 1.0em }

.content-wrap {
  background-color: #e4e4e4; }

.row {
  border-style:solid;
  border-width:40px 0 40px 0;
  border-color: #e4e4e4;
  background-color: #ffffff; }

/** Font screw-around happens here. */

p {
  font-size: .95em; }

h1 {
  font-size: 2.0em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.35em; }

h4 {
  font-size: 1.2em; }

h5 {
  font-size: 1.125em; }
