---
layout: default
title: Rich Tolocka
---

<div class="row">
	<div class="large-12 columns">
		{% for post in site.posts%}
		<h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
		<p>{{ post.date | date: "%d %B %Y"}} <br>
		{% if post.content contains '<!--more-->' %}
		    {{ post.content | split:'<!--more-->' | first }}
		{% else %}
		    <!-- Case for when no excerpt is defined -->
		{% endif %}
		<div class="tags">{{ post.categories | join: ', ' }} </div></p>
		<hr/>
		{% endfor %}
	<a href="/{{ paginator.next_page_path }}/index.html" class="medium secondary button">Next</a>
	</div>
</div>
