<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-gb">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{{ page.title }}</title>
	<meta name="author" content="Rich Tolocka" />
	<link rel="stylesheet" href="/css/foundation.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/css/normalize.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/css/foundation-min.css" type="text/css" media="screen and (min-width:651px) and (max-width: 1024px), screen and (min-device-width: 768px) and (max-device-width: 1024px)" />
	<link rel="stylesheet" href="/css/overrides.css" type="text/css"/>
	<script src="/js/custom.modernizr.js"></script>
	<script src="/js/foundation.min.js"></script>
	<script src="/js/ext/pager.js"/></script>
</head>
<body>
	<div class="row">
		<div class="large-8 columns"> 
			<h2><a href="{{ site.url }}">Rich Tolocka</a></h2>
			<p>Technologist, Ruby Fan-boy, Banjo Player, etc. etc.</p>
		</div>
		<div class="large-4 columns">
		<h4>About me</h4>
		<div class="panel">
		<p>
			<a href="https://github.com/rtolocka">github.com/rtolocka</a><br />
			<a href="www.linkedin.com/in/richtolocka">linkedin.com/in/richtolocka</a>
		</p>
		</div>
	</div>
    <hr/>
	{{ content }}
	
<!-- Check for Zepto support, load jQuery if necessary -->
<script>
  document.write('<script src=/js/vendor/'
    + ('__proto__' in {} ? 'zepto' : 'jquery')
    + '.js><\/script>');
</script>
</body>
<html>
